* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  word-wrap: break-word
}

header{
  background: #000000;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  }

header .container_logout {
  margin: 0 auto;
  padding-top: 9px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  background: #000000;
}
